:root {
    --brand-blue: #2196F3;
    --brand-black: #212121;
    --brand-white: #ffffff;
    --brand-fon: #2F303A;
    --brand-grey:#757575;
    --brand-black-studio: #000000;
    
}
 /* СТУДИЯ 1 */
body {
color: var(--brand-black);
font-family: 'Roboto', sans-serif;
font-size: 14px;
}


/* header  */
   /* ВАРИАНТ 1 */


   /* .link-logo{
text-decoration: none;
color: var(--brand-black-studio);

font-family: Raleway;
font-weight: 700px;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-white);
}
.link-logo:active{
    color:var(--brand-white);
}
.list-nav, header .list-items{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
}
header .list-adress{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--brand-grey);
list-style-type: none;

}

.text-web{
    color: var(--brand-blue);
}
.list-items{
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: var(--brand-black);
    
}
.link:hover, .link:focus{
    color: var(--brand-blue);
}
.link:active{
    color: var(--brand-blue);
} */

     /*   ВАРИАНТ 2 */
.link-logo{
text-decoration: none;
color: var(--brand-black);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.text-web {
    color: var(--brand-blue)
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color: var(--brand-blue);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.header-list-nav, .header-list-adress{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.header-link{
    color: var(--brand-black-studio);
}
.header-link:hover, .header-link:focus {
    color: var(--brand-blue);
}
.header-link-mail, .header-link-tel{
    color: var(--brand-grey);
}
.connection:hover, .connection:focus{
    color: var(--brand-blue);
}



/* основная часть */
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--brand-black);
}
.hero-btn {
background-color: var(--brand-blue);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor:pointer;
font-size: inherit;
}
.hero-btn:hover, .hero-btn:focus{
    color: var(--brand-white);
}
.hero-btn:active{
    color:var(--brand-white)
}
.work-title, .team-title {
font-weight: 700;
text-align: center;
font-size: 36px;
line-height: 1.6;
letter-spacing: 0.03em;
}
.special-feature{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.special-text{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--brand-grey);
}
.team-title-men{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.team-class{
    font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
}
/*  footer*/

footer{
    background-color: var(--brand-fon);
}
.footer .link-logo{
    color: var(--brand-white);
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color:var(--brand-blue);
}
.footer-adress{
    color: var(--brand-white);
}

.footer-link-tel, .footer-link-mail{
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

/* ПОРТФОЛИО */

/* MEIN */
.services-btn{
background-color: var(--brand-blue);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
}
.services-btn:hover, .services-btn:focus{
    color:var(--brand-white)
}
.services-btn:active{
    color: var(--brand-white);
}
.services-title{
    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.services-text {
    font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--brand-grey);
}