:root {
    --brand-blue: #2196F3;
    --brand-black: #000000;
    --brand-white: #ffffff;
    --brand-fon: #2F303A;
    --brand-grey:#757575;
    
}

body {
color: var(--brand-black);
font-family: 'Roboto', sans-serif;
}


/* header  */
.link-logo{
text-decoration: none;
color: var(--brand-black);

font-family: Raleway;
font-weight: 700px;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color:var(--brand-blue);
}
.list-nav, header .list-items{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.text-web{
    color: var(--brand-blue);
}
.list-items{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: var(--brand-black);
}
.link:hover, .link:focus{
    color: var(--brand-blue);
}
.link:active{
    color: var(--brand-blue);
}


/* основная часть */
h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--brand-black);
}
.button {
background-color: var(--brand-blue);
cursor: pointer;

font-weight: 700;
font-size: 16px;
line-height: 1.87;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
}
.feature{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.text-feature{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--brand-grey);
}
.team{
font-weight: 500;
font-size: 16px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
}
.class{
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--brand-grey)   
}
/*  footer*/

footer{
    background-color: var(--brand-fon);
}
.footer  .link-logo{
    color: var(--brand-white);
}
.link-logo:hover, .link-logo:focus{
    color: var(--brand-blue);
}
.link-logo:active{
    color:var(--brand-blue);
}
.adress{
    color: var(--brand-white);
}
.adress:hover, .adress:focus{
    color: var(--brand-blue);
}
.adress:active{
    color: var(--brand-blue);
}
footer .link{
color: rgba(255, 255, 255, 0.6);
}